.container {
    /* background: lightblue;*/
}

.topImage {
    display: block;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 25px;
}

h1 {
    font-size: 50px;
}

h1,
h3 {
    color: darkred;
}

row-centered {
    margin: 0 auto;
    width: 70%;
    margin-left: 100px;
}

.div {
    margin: 0 auto;
}

hr {
    border: 2px solid red;
}

.movieList img {
    margin-right: 10px;
}

.imageList {
    float: left;
}

.clearLeft {
    clear: left;
    overflow: auto;
}

.fixWidth {
    width: 140px;
}

.footer {
    /*            margin-top: 5px;*/
    font-size: 20px;
}
@media only screen and (max-width: 568px) {
    .topImage {
        width: 100%;
        border-radius: 0px;   
    }
    .container-top{
        padding-left: 0px;
        padding-right: 0px;
    }
}
